<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/css/main.css">

        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="../../static/js/time.js"></script>
        <script src="../../static/js/vendor/bootstrap.min.js"></script>
        <script src="../../static/js/main.js"></script>

        <script>
        $( document ).ready(function() {
            startTime();
            pageLoadTimer();
            getNextHour();
            mapCalculation();
        });
        </script>

        <script>
        function mapCalculation(){
        var jsonInput = '{{ room_data|safe }}';
        var jsonParsed = $.parseJSON(jsonInput);

        $.each(jsonParsed, function() {
            var currentRoom = '#' + this['room_number'];
            var currentRoomLabel = currentRoom + '-label';
            if(this['availability'] === false){
                $(currentRoom).css({ fill: "#A81C07"});
                $(currentRoomLabel).css('color', 'white'); //TODO fix text colour
            } else {
                $(currentRoom).css({ fill: "#77DD77"});
            }
        });
    }

    </script>
    </head>

    <body>
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Poole House - Floor 2</h1>
                    <h2>Current Time: <span id="time"></span></h2>
                    <h4>Last updated <span id="minutes">just now</span> <span style="display:none;" id="seconds">Less than 1</span></h4>

                </div><!-- END .col-lg-12 -->
            </div><!-- END .row -->

            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="map">
                        <!-- BEGIN SVG -->
                        <svg version="1.1" id="Ground_Floor" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                        	 y="0px" width="1024px" height="768px" viewBox="0 0 1024 768" style="enable-background:new 0 0 1024 768;" xml:space="preserve">
                            <style type="text/css">
                            	.st0{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
                            	.st1{font-family:'MyriadPro-Regular';}
                            	.st2{font-size:21px;}
                            </style>
                            <rect id="BuildingFrame" x="197.2" y="130.8" class="st0" width="644.8" height="490.8"/>
                            <rect id="PG07" x="197.2" y="473.9" class="st0" width="105.7" height="147.7"/>
                            <rect id="PG06" x="303" y="473.9" class="st0" width="105.7" height="147.7"/>
                            <text id="PG07-label" transform="matrix(1 0 0 1 228.2644 559.2533)" class="st1 st2">PG07</text>
                            <text id="PG06-label" transform="matrix(1 0 0 1 333.1726 559.2534)" class="st1 st2">PG06</text>
                            <rect id="PG07_1_" x="280.3" y="130.8" class="st0" width="178.5" height="73.9"/>
                            <rect id="PG07_2_" x="280.3" y="204.7" class="st0" width="178.5" height="73.9"/>
                            <text transform="matrix(1 0 0 1 345.7128 246.5809)" class="st1 st2">PG</text>
                            <text transform="matrix(1 0 0 1 345.7126 176.2189)" class="st1 st2">PG</text>
                        </svg>
                    </div><!-- END .MAP -->
                </div><!-- END .col-lg-12 -->
            </div><!-- END .row -->

            <div class="row" style="display: none;">
                <div class="col-lg-12">
                    <h3>Upcoming availability between <span id="nextHour"></span></h3>
                </div><!-- END .col-lg-12 -->
            </div><!-- END .row -->

        </div><!-- END .container -->

    </body>
</html>
